name: Convert CSV to JSON

on:
  workflow_dispatch:

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Convert CSV
        run: node scripts/convert.js

      - name: Commit JSON safely
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add data/pincodes.json
          git diff --cached --quiet || git commit -m "Convert CSV to JSON"
          git push
